<!--begin philosophy-->
<section class="philosophy">
    <div class="rectangles">
        <svg width="360" height="867" viewBox="0 0 360 867" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M142 0H0V480H142V0ZM360 387H218V867H360V387Z" fill="#F2F4F5"/>
        </svg>
    </div>
    <div class="container">
        <div class="row justify-content-between blocks-two">
            <div class="philosophy-left blocks-two--left">
                <h4>Філософія компанії</h4>
                <a class="read-more btn-blue" href="#/">
                    читати далі
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1V13" stroke-width="1.5"/>
                        <path d="M1 7H13" stroke-width="1.5"/>
                    </svg>
                </a>
            </div>
            <div class="philosophy-right blocks-two--right">
                <p>Юриспруденція для нас – не просто професія і бізнес. Це мистецтво, в якому творча складова є такоюж важливою, як знання. Це уміння віртуозно вирішувати проблеми не лише за допомогою загальновідомих, але й самостійно.</p>
                <small class="colums-two">
                    <p>Moris Group – це команда досвідчених. MORIS GROUP пишається заслуженою репутацією надійного партнера. Клієнти компанії з абсолютною довірою покладаються на наш професіоналізм та досвід у вирішенні юридичних питань, адже з моменту.</p>
                    <p>Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи свою майстерність.</p>
                </small>
            </div>
        </div>
    </div>
    <div class="philosophy-images">
        <img src="img/img_phylosophy_1.jpg" alt="Image" />
        <img src="img/img_phylosophy_2.jpg" alt="Image" />
    </div>
</section>
<!--end philosophy-->
<!--begin team-->
<section class="team">
    <div class="container">
        <div class="row justify-content-between blocks-two">
            <div class="team-left blocks-two--left">
                <h4>Наша команда</h4>
            </div>
            <div class="team-right blocks-two--right">
                <p>Moris Group – це команда досвідчених. MORIS GROUP пишається заслуженою репутацією надійного партнера.</p>
                <small>
                    <p>Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи свою майстерність.</p>
                </small>
            </div>
        </div>
    </div>
    <div class="team-wrapper">
        <div class="team-item" style="background-image: url('img/team_marian_martynuk.jpg')">
            <div class="team-item--info">
                <div>
                    <h4>Мар'ян Мартинюк</h4>
                    <small><p>Старший партнер, адвокат</p></small>
                </div>
                <small class="comment">
                    <p>
                        Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи.
                    </p>
                </small>
            </div>
        </div>
        <div class="team-item" style="background-image: url('img/team_andrii_romanchuk.jpg')">
            <div class="team-item--info">
                <div>
                    <h4>Андрій Романчук</h4>
                    <small><p>Керуючий партнер, адвокат</p></small>
                </div>
                <small class="comment">
                    <p>
                        Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи.
                    </p>
                </small>
            </div>
        </div>
        <div class="team-item" style="background-image: url('img/team_oleg_parilyak.jpg')">
            <div class="team-item--info">
                <div>
                    <h4>Олег Паріляк</h4>
                    <small><p>Партнер, адвокат</p></small>
                </div>
                <small class="comment">
                    <p>
                        Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи.
                    </p>
                </small>
            </div>
        </div>
        <div class="team-item" style="background-image: url('img/team_oksana_kobrin.jpg')">
            <div class="team-item--info">
                <div>
                    <h4>Оксана Кобрин</h4>
                    <small><p>Партнер, адвокат</p></small>
                </div>
                <small class="comment">
                    <p>
                        Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи.
                    </p>
                </small>
            </div>
        </div>
        <div class="team-item" style="background-image: url('img/team_andrii_savchuk.jpg')">
            <div class="team-item--info">
                <div>
                    <h4>Андрій Савчук</h4>
                    <small><p>Партнер, адвокат</p></small>
                </div>
                <small class="comment">
                    <p>
                        Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи.
                    </p>
                </small>
            </div>
        </div>
    </div>
</section>
<!--end team-->
<!--begin blog-->
<section class="blog">
    <div class="rectangles">
        <svg width="360" height="712" viewBox="0 0 360 712" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="218" width="142" height="480" fill="#F1F3F5"/>
            <rect y="232" width="142" height="480" fill="#F1F3F5"/>
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Ми пишемо</h2>
                <small><p>Майстерне, професійне, комплексне, надійне та результативне застосування юридичних рішень.</p></small>
            </div>
        </div>
        <div class="blog-wrapper">
            <div class="blog-item">
                <div class="blog-item--bg" style="background-image: url('img/img_blog_news.jpg')"></div>
                <div class="blog-item--top">
                    <h5 class="date">24.10.2018</h5>
                    <h5 class="category">Блог</h5>
                </div>
                <h4>Назва новини 1</h4>
                <small><p> Юриспруденція для нас – не просто професія і бізнес. Це мистецтво, в якому творча складова є такоюж важливою, як знання. Це уміння віртуозно вирішувати</p></small>
                <a class="read-more btn-blue" href="#/">
                    читати далі
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1V13" stroke-width="1.5"/>
                        <path d="M1 7H13" stroke-width="1.5"/>
                    </svg>
                </a>
            </div>
            <div class="blog-item">
                <div class="blog-item--bg" style="background-image: url('img/img_blog_news.jpg')"></div>
                <div class="blog-item--top">
                    <h5 class="date">24.10.2018</h5>
                    <h5 class="category">Блог</h5>
                </div>
                <h4>Назва новини 1</h4>
                <small><p> Юриспруденція для нас – не просто професія і бізнес. Це мистецтво, в якому творча складова є такоюж важливою, як знання. Це уміння віртуозно вирішувати</p></small>
                <a class="read-more btn-blue" href="#/">
                    читати далі
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1V13" stroke-width="1.5"/>
                        <path d="M1 7H13" stroke-width="1.5"/>
                    </svg>
                </a>
            </div>
            <div class="blog-item">
                <div class="blog-item--bg" style="background-image: url('img/img_blog_news.jpg')"></div>
                <div class="blog-item--top">
                    <h5 class="date">24.10.2018</h5>
                    <h5 class="category">Блог</h5>
                </div>
                <h4>Назва новини 1</h4>
                <small><p> Юриспруденція для нас – не просто професія і бізнес. Це мистецтво, в якому творча складова є такоюж важливою, як знання. Це уміння віртуозно вирішувати</p></small>
                <a class="read-more btn-blue" href="#/">
                    читати далі
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1V13" stroke-width="1.5"/>
                        <path d="M1 7H13" stroke-width="1.5"/>
                    </svg>
                </a>
            </div>
            <div class="blog-item">
                <div class="blog-item--bg" style="background-image: url('img/img_blog_news.jpg')"></div>
                <div class="blog-item--top">
                    <h5 class="date">24.10.2018</h5>
                    <h5 class="category">Блог</h5>
                </div>
                <h4>Назва новини 1</h4>
                <small><p> Юриспруденція для нас – не просто професія і бізнес. Це мистецтво, в якому творча складова є такоюж важливою, як знання. Це уміння віртуозно вирішувати</p></small>
                <a class="read-more btn-blue" href="#/">
                    читати далі
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1V13" stroke-width="1.5"/>
                        <path d="M1 7H13" stroke-width="1.5"/>
                    </svg>
                </a>
            </div>
            <div class="blog-item">
                <div class="blog-item--bg" style="background-image: url('img/img_blog_news.jpg')"></div>
                <div class="blog-item--top">
                    <h5 class="date">24.10.2018</h5>
                    <h5 class="category">Блог</h5>
                </div>
                <h4>Назва новини 1</h4>
                <small><p> Юриспруденція для нас – не просто професія і бізнес. Це мистецтво, в якому творча складова є такоюж важливою, як знання. Це уміння віртуозно вирішувати</p></small>
                <a class="read-more btn-blue" href="#/">
                    читати далі
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1V13" stroke-width="1.5"/>
                        <path d="M1 7H13" stroke-width="1.5"/>
                    </svg>
                </a>
            </div>
            <div class="blog-item">
                <div class="blog-item--bg" style="background-image: url('img/img_blog_news.jpg')"></div>
                <div class="blog-item--top">
                    <h5 class="date">24.10.2018</h5>
                    <h5 class="category">Блог</h5>
                </div>
                <h4>Назва новини 1</h4>
                <small><p> Юриспруденція для нас – не просто професія і бізнес. Це мистецтво, в якому творча складова є такоюж важливою, як знання. Це уміння віртуозно вирішувати</p></small>
                <a class="read-more btn-blue" href="#/">
                    читати далі
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1V13" stroke-width="1.5"/>
                        <path d="M1 7H13" stroke-width="1.5"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<!--end blog-->