<!--begin blog list-->
<section class="blog-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Прес-центр</h1>
                <small>
                    <p>Попередні висновки невтішні: існуюча теорія тягне за собою процес впровадження і модернізації стандартних підходів. Багато відомих особистості.</p>
                </small>
                <div class="filter">
                    <ul>
                        <li><a href="#/">Усе</a></li>
                        <li><a href="#/">IT практика</a></li>
                        <li><a href="#/">Податкова практика</a></li>
                        <li><a href="#/">Судова практика</a></li>
                        <li><a href="#/">Корпоративна практика</a></li>
                        <li><a href="#/">Практика GR</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end blog list-->