<!--begin career feature-->
<section class="career-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Кар’єра</h1>
                <small>
                    <p>Приємно, громадяни, спостерігати, як базові сценарії поведінки користувачів представлені в виключно позитивному світлі. Але діаграми зв'язків закликають.</p>
                </small>
            </div>
        </div>
        <div class="row career-features--wrapper">
            <div class="col-lg-4">
                <div class="career-features--item">
                    <div class="icon">
                        <img src="img/icon_advantages_1.svg" alt="Icon" />
                    </div>
                    <h4>Назва переваги</h4>
                    <small>
                        <p>Приємно, громадяни, спостерігати, як ретельні дослідження конкурентів закликають нас до нових звершень.</p>
                    </small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="career-features--item">
                    <div class="icon">
                        <img src="img/icon_advantages_2.svg" alt="Icon" />
                    </div>
                    <h4>Назва переваги</h4>
                    <small>
                        <p>Зокрема, базовий вектор розвитку говорить про можливості системи навчання кадрів, відповідної насущним</p>
                    </small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="career-features--item">
                    <div class="icon">
                        <img src="img/icon_advantages_3.svg" alt="Icon" />
                    </div>
                    <h4>Назва переваги</h4>
                    <small>
                        <p>Зокрема, базовий вектор розвитку говорить про можливості системи навчання кадрів, відповідної насущним</p>
                    </small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="career-features--item">
                    <div class="icon">
                        <img src="img/icon_advantages_4.svg" alt="Icon" />
                    </div>
                    <h4>Назва переваги</h4>
                    <small>
                        <p>Зокрема, базовий вектор розвитку говорить про можливості системи навчання кадрів, відповідної насущним</p>
                    </small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="career-features--item">
                    <div class="icon">
                        <img src="img/icon_advantages_5.svg" alt="Icon" />
                    </div>
                    <h4>Назва переваги</h4>
                    <small>
                        <p>Зокрема, базовий вектор розвитку говорить про можливості системи навчання кадрів, відповідної насущним</p>
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end career feature-->
<!--begin vacancies-->
<section class="vacancies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Вакансії</h2>
                <small>
                    <p>Приємно, громадяни, спостерігати, як базові сценарії поведінки користувачів представлені в виключно позитивному світлі. Але діаграми зв'язків закликають.</p>
                </small>
            </div>
        </div>
        <div class="row vacancies--wrapper">
            <div class="col-lg-6">
                <div class="vacancies--item">
                    <h4>Адвокат</h4>
                    <ul>
                        <li>Київ</li>
                        <li>Менеджмент</li>
                        <li>10.11.2019</li>
                    </ul>
                    <a class="read-more btn-blue" href="#/">
                        Зробити запит
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 1V13" stroke-width="1.5"/>
                            <path d="M1 7H13" stroke-width="1.5"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="vacancies--item">
                    <h4>Юрист</h4>
                    <ul>
                        <li>Київ</li>
                        <li>Менеджмент</li>
                        <li>10.11.2019</li>
                    </ul>
                    <a class="read-more btn-blue" href="#/">
                        Зробити запит
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 1V13" stroke-width="1.5"/>
                            <path d="M1 7H13" stroke-width="1.5"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="vacancies--item">
                    <h4>Менеджер</h4>
                    <ul>
                        <li>Київ</li>
                        <li>Менеджмент</li>
                        <li>10.11.2019</li>
                    </ul>
                    <a class="read-more btn-blue" href="#/">
                        Зробити запит
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 1V13" stroke-width="1.5"/>
                            <path d="M1 7H13" stroke-width="1.5"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end vacancies-->
<!--begin career info-->
<section class="career-info">
    <div class="rectangles">
        <svg width="360" height="867" viewBox="0 0 360 867" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M142 0H0V480H142V0ZM360 387H218V867H360V387Z" fill="#F1F3F5"/>
        </svg>
    </div>
    <div class="career-info--item">
        <img src="img/img_career_1.jpg" alt="Image" />
        <div class="text">
            <h2>Стажування</h2>
            <small>
                <p>З урахуванням сформованої міжнародної обстановки, подальший розвиток різних форм діяльності є якісно новим щаблем розподілу внутрішніх резервів і ресурсів. Ще дії представників опозиції висвітлюють надзвичайно цікаві особливості картини в цілому. Однак конкретні висновки, зрозуміло, змішані з не унікальними даними до ступеня досконалої невпізнання, через що зростає їх статус марності. Складно сказати, чому представники сучасних соціальних резервів оприлюднені.</p>
            </small>
            <a class="read-more btn-blue" href="#/">
                Зробити запит
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1V13" stroke-width="1.5"/>
                    <path d="M1 7H13" stroke-width="1.5"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="career-info--item">
        <img src="img/img_career_1.jpg" alt="Image" />
        <div class="text">
            <h2>Співпраця з вузами</h2>
            <small>
                <p>Лише явні ознаки перемоги інституціоналізації є не що інше, як квінтесенцію перемоги маркетингу над розумом і повинні бути викриті. Таким чином, зміцнення і розвиток внутрішньої структури тягне за собою процес впровадження і модернізації інноваційних методів управління процесами. Попередні висновки невтішні: базовий вектор розвитку зумовлює високу затребуваність як самодостатніх, так і зовні залежних концептуальних рішень!</p>
            </small>
            <a class="read-more btn-blue" href="#/">
                Зробити запит
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1V13" stroke-width="1.5"/>
                    <path d="M1 7H13" stroke-width="1.5"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="career-info--item">
        <img src="img/img_career_1.jpg" alt="Image" />
        <div class="text">
            <h2>Стипендіальна програма</h2>
            <small>
                <p>Банальні, але незаперечні висновки, а також деякі особливості внутрішньої політики своєчасно верифіковані! Кожен з нас розуміє очевидну річ: синтетичне тестування не дає нам іншого вибору, крім визначення нових принципів формування матеріально-технічної та кадрової бази. Так само, постійний кількісний ріст і сфера нашої активності забезпечує актуальність існуючих фінансових і адміністративних умов.</p>
            </small>
            <a class="read-more btn-blue" href="#/">
                Зробити запит
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1V13" stroke-width="1.5"/>
                    <path d="M1 7H13" stroke-width="1.5"/>
                </svg>
            </a>
        </div>
    </div>
</section>
<!--end career info-->