<!--begin footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="logo col-lg-5">
                <a href="/"><img src="img/logo.svg" alt="Logo" /></a>
            </div>
            <div class="col-lg-2">
                <div class="footer-nav">
                    <ul>
                        <li><a href="#/">Галузі</a></li>
                        <li><a href="#/">Практики</a></li>
                        <li><a href="#/">Проекти</a></li>
                        <li><a href="#/">Про компанію</a></li>
                        <li><a href="#/">Команда</a></li>
                        <li><a href="#/">Пресс-центр</a></li>
                        <li><a href="#/">Карьера</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-contacts">
                    <ul>
                        <li><a href="#/">Контакти</a></li>
                    </ul>
                    <small>
                        <p>Украина, 01010, г. Киев <br>
                            ул. Московская, 8-б <br>
                            тел.: <a href="tel:+38 (044) 359-03-05">+38 (044) 359-03-05</a>, <a href="tel:359-03-06">359-03-06</a> <br>
                            факс: <a href="fax:+38 (044) 359-03-05">+38 (044) 359-03-05</a> <br>
                            е-mail: <a href="mailtoinfo@moris.com.ua">info@moris.com.ua</a>
                        </p>
                    </small>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-socials">
                    <ul>
                        <li><a href="#/">Facebook</a></li>
                        <li><a href="#/">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row footer-copyright">
            <div class="col-lg-12">
                <small>
                    <p>© Юридическая компания «Морис Групп».</p>
                </small>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->