<!--begin project list-->
<section class="project-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Наші проекти</h1>
                <small>
                    <p>А ще безпосередні учасники технічного прогресу висвітлюють надзвичайно цікаві особливості картини в цілому, однак конкретні висновки, зрозуміло, оголошені.</p>
                </small>
                <div class="filter">
                    <h4>Фільтрувати за:</h4>

                </div>
            </div>
        </div>
    </div>
</section>
<!--end project list-->