<!--begin team-->
<section class="team team-list">
    <div class="rectangles">
        <svg width="360" height="857" viewBox="0 0 360 857" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M218 0H360V480H218V0ZM0 377H142V857H0V377Z" fill="#F1F3F5"/>
        </svg>
    </div>
    <div class="container">
        <div class="row justify-content-between blocks-two">
            <div class="team-left blocks-two--left">
                <h4>Наша команда</h4>
            </div>
            <div class="team-right blocks-two--right">
                <p>Moris Group – це команда досвідчених. MORIS GROUP пишається заслуженою репутацією надійного партнера.</p>
                <small>
                    <p>Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи свою майстерність.</p>
                </small>
                <ul>
                    <li><a href="#/">Вся команда</a></li>
                    <li><a href="#/">Партнери</a></li>
                    <li><a href="#/">Радники</a></li>
                    <li><a href="#/">Юристи</a></li>
                    <li><a href="#/">Керівники офісів</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="team-wrapper">
        <div class="team-item" style="background-image: url('img/team_marian_martynuk.jpg')">
            <div class="team-item--info">
                <div>
                    <h4>Мар'ян Мартинюк</h4>
                    <small><p>Старший партнер, адвокат</p></small>
                </div>
                <small class="comment">
                    <p>
                        Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи.
                    </p>
                </small>
            </div>
        </div>
        <div class="team-item" style="background-image: url('img/team_andrii_romanchuk.jpg')">
            <div class="team-item--info">
                <div>
                    <h4>Андрій Романчук</h4>
                    <small><p>Керуючий партнер, адвокат</p></small>
                </div>
                <small class="comment">
                    <p>
                        Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи.
                    </p>
                </small>
            </div>
        </div>
        <div class="team-item" style="background-image: url('img/team_oleg_parilyak.jpg')">
            <div class="team-item--info">
                <div>
                    <h4>Олег Паріляк</h4>
                    <small><p>Партнер, адвокат</p></small>
                </div>
                <small class="comment">
                    <p>
                        Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи.
                    </p>
                </small>
            </div>
        </div>
        <div class="team-item" style="background-image: url('img/team_oksana_kobrin.jpg')">
            <div class="team-item--info">
                <div>
                    <h4>Оксана Кобрин</h4>
                    <small><p>Партнер, адвокат</p></small>
                </div>
                <small class="comment">
                    <p>
                        Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи.
                    </p>
                </small>
            </div>
        </div>
        <div class="team-item" style="background-image: url('img/team_andrii_savchuk.jpg')">
            <div class="team-item--info">
                <div>
                    <h4>Андрій Савчук</h4>
                    <small><p>Партнер, адвокат</p></small>
                </div>
                <small class="comment">
                    <p>
                        Ми пишаємося нашими професійними досягненнями за період більш ніж десятирічної практики, проте, незважаючи на здобутий досвід, продовжуємо наполегливо працювати, всебічно вдосконалюючи.
                    </p>
                </small>
            </div>
        </div>
    </div>
</section>
<!--end team-->